/* 
#0084F8 -b200 - blue
#001b36 - d400 - dark blue
#ffffff - white - white
#58c2f1 - b100 - light blue
#ff8576 - r100 - salmon
#47c2b1 - g100 - pastel green
#f0f5f9 - d100 - eggshell
#c9d6df - d200 - light grey
#52616b - d300 - dark grey

Tints: mix base color with white. Increments of 10% opacity

Shades: mix base color with black. Increments of 10% opacity
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

header {
    max-width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #d9d9d9;
}

h1, h3 {
    font-family: 'Open Sans', sans-serif;
    opacity: 85%;
}
h1 {
    border: 2px solid #111;
    box-shadow: 8px 6px 0px #111;
}

h3 {
    margin: 5px;
}

p {
    line-height: 125%;
}

a {
    color: #52616b;
    font-weight: bold;
}

img {
    width: 100%
}

.cities {
    /* background-color: #FF8576; */
    width: 85%;
}

.landmarks {
    /* background-color: #ff8576; */
    width: 85%;
}

.citizens {
    /* background-color: #ff8576; */
    width: 85%;
}

menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #001b36;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style-type: none;
    margin-left: -50px;
    opacity: 95%
}

menu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

menu a:hover {
    color: #f0f5f9;
}

menu a:active {
    color:#47c2b1;
}

menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

span {
    display: flex;
    width: 100px;
    font-weight: 600;
}


menu p {
    color: #818181;
    font-size: small;
    padding-left:30px;
    margin-top: 50px;
}    

ul li {
    list-style-type: circle;
    flex-wrap: wrap;
}
  
ul {
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: row;
}

.countrynameContainer {
    max-width: 100%;
}

.countryname {
    background-color: #47c2b1;
    padding: .5em 0 .5em .5em;
    border-radius: 10px;
    margin-right: .5em;
    width: 99%;
}

.logo {
    width: 100%;
}

.country-img {
    width: 100%;
}

.infobox {
    background-color: #FF8576;
    margin: 5px;
    width: 32%;
    min-width: 50px;
    flex-wrap: wrap;
    border: 2px solid #111;
    box-shadow: 8px 6px 0px #111;
    border-radius: 10px;
    position: static;
    display: flex;
    flex-direction: column;
    height: 35px;
    transition: 0.5s;
}

.infobox ul {
    color: black;
    overflow: hidden;
}

.infobox:hover {
    height: fit-content; 
}

.infobox ul:hover {
    color: #111;
}

.countryBtn {
  align-items: center;
  background-color: #FF8576;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  flex-direction: row;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  min-width: 45%;
  padding: 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.countryBtn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.countryBtn:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #FF8576;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.indexmain {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.spacer {
    height: 500px;
}