/* 
#0084F8 -b200 - blue
#001b36 - d400 - dark blue
#ffffff - white - white
#58c2f1 - b100 - light blue
#ff8576 - r100 - salmon
#47c2b1 - g100 - pastel green
#f0f5f9 - d100 - eggshell
#c9d6df - d200 - light grey
#52616b - d300 - dark grey

Tints: mix base color with white. Increments of 10% opacity

Shades: mix base color with black. Increments of 10% opacity
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    background-color: #f0f5f9;
    color: #001b36;
}

h1, h3 {
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    background-color: ;
}

p {
    line-height: 125%;
}

.cities {
    /* background-color: #FF8576; */
    width: 85%;
}

.landmarks {
    /* background-color: #ff8576; */
    width: 85%;
}

.citizens {
    /* background-color: #ff8576; */
    width: 85%;
}

.infobox {
    background-color: #FF8576;
    margin: 5px;
    width: 32%;
    min-width: 50px;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px rgba(0,0,0,.75);
    border-radius: 10px;
}

h3 {
    margin: 5px;
}

ul li {
    list-style-type: circle;
}
  
  
ul {
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    flex-direction: row;
}